#board-list-wrap {
  width: 800px;
  min-height: 900px;
  margin: auto;
}

.list-write-btn {
  background-color: #5136ffca;
  border: 1px solid #76767600;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.list-write-btn-icon {
  margin: 5px 5px 5px 0px;
  width: 25px;
  height: 25px;
  background-image: url(../../assets/image/write-btn-icon.png);
  background-position: center;
  background-size: cover;
}
