#user-page-content-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#top{
  display: flex;
  flex-direction: column;
}
.top-top{
  padding: 30px;
  display: flex;
  gap: 10px;
}
.top-top-image{
  width: 100px;
  height: 100px;
}
.top-top-infobox{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nickname-box{
  display: flex;
}