#user-page-content-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#top{
  display: flex;
  flex-direction: column;
}
.top-top{
  padding: 30px;
  display: flex;
  gap: 10px;
}
.top-top-image{
  background-size: 100% 100%;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  /*position: relative;*/
}
.edit-btn{
  /*position: absolute;*/
  /*bottom: 0px;*/
  /*right: -6px;*/
  cursor: pointer;
  background-image: url(../../assets/image/edit-btn.png);
}
.top-top-infobox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  gap: 8px;
}
.top-top-infobox-name{
  font-size: 32px;
  font-weight: bold;
}

.top-middle{
  display: flex;
  flex-direction: column;
  justify-content: left;
}

