#sign-in-wrap {
  width: 630px;
  height: 800px;
  margin: auto;
}

.sign-in-access-options {
  width: 350px;
  margin: auto;
}

.sign-in-access-options ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  padding: 0;
}

.auth-sign-in-top,
.auth-sign-in-bottom {
  margin: auto;
}

.sign-in-title {
  height: 130px;
  text-align: center;
  line-height: 200px;
  font-size: 32px;
  margin-bottom: 50px;
}

.sign-in-input-box input {
  display: block;
  margin: 20px auto;
  width: 500px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgb(201, 201, 201);
}

.sign-in-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 50px;
  margin: auto;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 5px;
}

.social_login_box {
  margin: auto;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.social_login_image-g {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/image/google-logo.png);
  background-position: center;
  background-size: cover;
}

.social_login_image-k {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/image/kakao-logo.png);
  background-position: center;
  background-size: cover;
}

.social_login_image-n {
  width: 50px;
  height: 50px;
  background-image: url(../../assets/image/naver-logo.png);
  background-position: center;
  background-size: cover;
}
