#sign-in-wrap,
#sign-up-wrap {
  width: 630px;
  min-height: 900px;
  margin: auto;
}

.sign-in-access-options {
  width: 350px;
  margin: 40px auto;
}

.sign-in-access-options ul {
  list-style: none;
  justify-content: space-between;
  display: flex;
  padding: 0;
  margin: 30px 0;
}

.auth-sign-in-top,
.auth-sign-in-bottom {
  margin: auto;
}

.sign-in-title,
.sign-up-title {
  height: 130px;
  text-align: center;
  line-height: 200px;
  font-size: 32px;
  margin-bottom: 50px;
}

.sign-in-input-box input {
  display: block;
  margin: 30px auto;
  width: 400px;
  height: 50px;
  border-style: none;
  border-bottom: 1px solid rgb(201, 201, 201);
  font-size: 16px;
}

.sign-in-input-box input:focus {
  /* focus 상태일 때 적용될 스타일 */
  border-style: none;
  outline: none; /* 선택 시 브라우저 기본 테두리 제거 */
  border-bottom: 1px solid rgba(74, 74, 74, 0.757);
}

.sign-in-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 50px;
  margin: auto;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 7px;
}

.social_login_box {
  margin: auto;
  width: 450px;
}

.social_login_image-box-g,
.social_login_image-box-k,
.social_login_image-box-n {
  border-radius: 7px;
  width: 450px;
  height: 50px;
  display: flex;
  margin-top: 12px;
}
.social_login_image-box-g {
  background-color: #eff1f2;
}

.social_login_image-box-k {
  background-color: #fddc3f;
}

.social_login_image-box-n {
  background-color: #03c75a;
}

.social_login_image-g {
  margin: 10px 15px 10px 10px;
  width: 30px;
  height: 30px;
  background-image: url(../../assets/image/google-logo.png);
  background-position: center;
  background-size: cover;
}

.social_login_image-k {
  margin: 5px 5px 5px 5px;
  width: 40px;
  height: 40px;
  background-image: url(../../assets/image/kakao-logo.png);
  background-position: center;
  background-size: cover;
}

.social_login_image-n {
  margin: 5px 5px 5px 5px;
  width: 40px;
  height: 40px;
  background-image: url(../../assets/image/naver-logo.png);
  background-position: center;
  background-size: cover;
}

.social_login_title {
  margin: auto 0px auto 130px;
  color: #000000ab;
  font-weight: 600;
}

hr {
  width: 500px;
  background: rgb(195, 195, 195);
  height: 1px;
  border: 0;
  margin: 30px auto;
}

.join-Certified-Input-Box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.email-certification-btn {
  margin: 50px 0px 0px 30px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  border: 1px solid #76767656;
  border-radius: 8px;
  width: 100px;
  height: 50px;
  font-size: 14px;
}

.join_input_box > .inputbox {
  margin-left: 24px;
}

.auth-join-bottom {
  display: flex;
  justify-content: center;
}

.black-large-full-button,
.auth-cancel-button {
  margin: 40px 30px;
  border-radius: 8px;
  border-color: #bfbaba5f;
  border-style: solid;
  width: 120px;
  height: 50px;

  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.auth-card-bottom {
  width: 450px;
  margin: 30px auto;
}

/* 로그인 페이지 로그인 버튼 */
.login_button_off {
  width: 450px;
  height: 55px;
  border: 1px solid #7676763c;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login_button_on {
  width: 450px;
  height: 55px;
  border: 1px solid #76767600;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffd9c2;
}
